<section class="contributor-section">
    <div class="contributor-wrapper">
      <div class="contributor-card">
        <p>Suraj Pratap</p>
        <div class="pic">
          <img src="./contributor-imags/pic-1.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/SurajPratap10">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Prashant Varma</p>
        <div class="pic">
          <img src="./contributor-imags/pic-2.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/9520prashant">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Priyam</p>
        <div class="pic">
          <img src="./contributor-imags/pic-3.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/PR1YAM9">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Pranav Sikrawal</p>
        <div class="pic">
          <img src="./contributor-imags/pic-4.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/PranavSikarwal">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Sasi Vardan</p>
        <div class="pic">
          <img src="./contributor-imags/pic-5.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/SasiVardhan247">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Suhaani</p>
        <div class="pic">
          <img src="./contributor-imags/pic-6.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/Suhaani07">GitHub</a></button>
      </div>
    </div>
    <div class="contributor-wrapper">
      <div class="contributor-card">
        <p>Vikas Sharma</p>
        <div class="pic">
          <img src="./contributor-imags/pic-7.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/sharmavikas4">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Sona</p>
        <div class="pic">
          <img src="./contributor-imags/pic-8.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/SONA-1111">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Laiba Hasan</p>
        <div class="pic">
          <img src="./contributor-imags/pic-9.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/laibaahsan27">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Stuti</p>
        <div class="pic">
          <img src="./contributor-imags/pic-10.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/stuti-09">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Tayyab ilyas</p>
        <div class="pic">
          <img src="./contributor-imags/pic-11.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/tayyab-ilyas">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Shobhit</p>
        <div class="pic">
          <img src="./contributor-imags/pic-12.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/shobhitexe">GitHub</a></button>
      </div>
    </div>
    <div class="contributor-wrapper">
      <div class="contributor-card">
        <p>Yogesh Pandey</p>
        <div class="pic">
          <img src="./contributor-imags/pic-13.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/programerr01">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Shounmay</p>
        <div class="pic">
          <img src="./contributor-imags/pic-14.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/Shounmay">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Mansi</p>
        <div class="pic">
          <img src="./contributor-imags/pic-15.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/Mansi1236">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Rutuj</p>
        <div class="pic">
          <img src="./contributor-imags/pic-16.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/rutujp78">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>karan</p>
        <div class="pic">
          <img src="./contributor-imags/pic-17.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/jaskaranl">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Ishita</p>
        <div class="pic">
          <img src="./contributor-imags/pic-18.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/S-ishita">GitHub</a></button>
      </div>
    </div>
    <div class="contributor-wrapper">
      <div class="contributor-card">
        <p>Sandeep</p>
        <div class="pic">
          <img src="./contributor-imags/pic-19.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/sandeep0009">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Rishu Raj</p>
        <div class="pic">
          <img src="./contributor-imags/pic-20.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/rishuraj1">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Karthikay Asija</p>
        <div class="pic">
          <img src="./contributor-imags/pic-21.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/kartikayasija">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Shotlle</p>
        <div class="pic">
          <img src="./contributor-imags/pic-22.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/Shtolle">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Prashant Andoriya</p>
        <div class="pic">
          <img src="./contributor-imags/pic-23.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/andoriyaprashant">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Anshika Jain</p>
        <div class="pic">
          <img src="./contributor-imags/pic-24.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/Anshika-Jain02">GitHub</a></button>
      </div>
    </div>
    <div class="contributor-wrapper">
      <div class="contributor-card">
        <p>Vishal</p>
        <div class="pic">
          <img src="./contributor-imags/pic-25.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/Vishalk91-4">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Mark</p>
        <div class="pic">
          <img src="./contributor-imags/pic-26.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/markyasser">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Abhinav</p>
        <div class="pic">
          <img src="./contributor-imags/pic-27.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/abhinav-m22">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Ahmad</p>
        <div class="pic">
          <img src="./contributor-imags/pic-28.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/AhmedBedeir">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Sagnik</p>
        <div class="pic">
          <img src="./contributor-imags/pic-29.png" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/sagnik3788">GitHub</a></button>
      </div>
      <div class="contributor-card">
        <p>Manik</p>
        <div class="pic">
          <img src="./contributor-imags/pic-30.jpg" alt="">
        </div>
        <button class="contributor-btn"><a href="https://github.com/mani200307">GitHub</a></button>
      </div>
    </div>
  </section>