<link rel="stylesheet" href="../../public/css/style.css">
<script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
<footer>
  <div class="content">
    <div class="left box boxx">
      <div class="upper">
        <div class="fot-log">Imagine-AI
          <div class="borders" style="width: 70% !important;;">
            <span></span>
          </div>
        </div>
        <p>Join us on our mission is to empower creativity, <br>bridging the gap between words and visuals, <br>as we seamlessly translate text <br>into stunning visual realities</p>
      </div>
    </div>
    <div class="middle1 box boxx">
      <div class="topic">Contact Us
        <div class="borders">
          <span></span>
        </div>
      </div>
      <div class="location">
        <a href="javascript:;">
          ABC Road<br>
          XYZ Building, City<br>
          INDIA
        </a>
      </div>
      <div class="email">
        <a href="javascript:;">abcxyz@gmail.com</a> 
        <!-- @suraj kindly add your email id above -->
      </div>
      <div class="phone">
        <a href="javascript:;">+91 1234567890</a>
        <!-- @suraj please add your phone number above -->
      </div>
    </div>
    <div class="middle box boxx">
      <div class="topic">Quick links
        <div class="borders">
          <span></span>
        </div>
      </div>
      <div><a href="/">Home</a></div> 
      <div><a href="/generateImg">Generate</a></div>
      <div><a href="/aboutUs">About Us</a></div>
      <div><a href="/contactUs">Contact us</a></div>
      <div><a href="/privacypolicy">Privacy Policy</a></div>
    </div>
    <div class="middle2 box boxx">
      <div class="topic">Subscribe Us
        <div class="borders">
          <span></span>
        </div>
      </div>
      <div class="border1">
      <form name="submit-to-google-sheet" style="width: 100%;">
        <i class="fas fa-envelope fa-solid"></i>
        <input type="email" name="Email" placeholder="Enter email address" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
        <button type="submit" style="padding: 0 !important; margin: 0 !important; width:11% !important; display: inline;"><i class="fas fa-paper-plane" style="color:#fff;"></i></button>
      </form>
      </div>
      <div class="tyfs" id="msg"></div>
      <div class="icons" style="margin-top: 48px;">

        <ul>
          <li>
            <a title="linkedin" target="_blank" href="https://www.linkedin.com/in/suraj-pratap-948a92225/"><i
                class="fab fa-linkedin-in icon"></i></a>
          </li>
          <li>
            <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <i
                class="fab fa-github icon"></i> </a>
          </li>
          <li>
            <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><i
                class="fab fa-twitter icon"></i></a>
          </li>
          <li>
            <a title="Instagram" target="_blank" href="https://www.instagram.com/aridoshikazu_1/"><i
                class="fab fa-youtube icon"></i></a>
          </li>
        </ul>
      </div>
      </div>
      </div>
  </div>
  <hr style="margin-top: 40px;">
  <div class="bottom" style="padding: 40px 0 40px 0">
    <p class="bot-l">Copyright © 2020 <a href="#">Imagine-AI</a> | All rights reserved</p>
  </div>
  
</footer>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycby0Fgr8147egnJYLp30zUPFPTKPEV_c2oV1_rvLU34dRDGiFYsxwhFEK2BpgIuT7RE_/exec'
  const form = document.forms['submit-to-google-sheet']
  const msg = document.getElementById("msg");
  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response =>{
        msg.innerHTML= "Thank You For Subscribing"
        setTimeout(function(){
          msg.innerHTML= ""
        },5000)
        form.reset()
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
footer{
	
	width: 100%;
	/* position: fixed; */
	bottom: 0;
	left: 0;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
footer .content p,a{
  color: #fff;
}
hr {
  margin-left: 11% ;
  justify-content: center;
  width: 80% ;
  border: 0;
  opacity: 0.5 ; 
  border-bottom: 3px solid #fff;

}
footer .content .box{
  width: 25%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content .middle1 .topic{
  padding-bottom: 22px;

}
footer .content .middle .topic{
  padding-bottom: 22px;

}
footer .content .middle2 .topic{
  padding-bottom: 22px;

}
.fot-log{
  font-size: 30px;
	color: #fefefe;
  padding-bottom: 2rem;
}
.email {
  padding-top: 1rem;
  width: fit-content;
  border-bottom: 1px solid #cfcccc;
}
.phone {
  padding-top: 1rem;
  font-weight:600;
}
.borders {
  width: 50%;
  height: 3px;
  background: #6495ed ;
  border-radius: 3px;
  position: relative;
}

.borders span{
  width: 25px;
  height: 100%;
  display: flex;
  background: #73c2fb;
  border-radius: 3px;
  position: relative;
  animation: animate 3s ease-in-out infinite;
  animation-direction:alternate-reverse;
}

@keyframes animate{
  0%{
    left: 1px;
  }
  100%{
    left: 100%;
  }
}

footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .upper{
  padding-left: 80px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .middle1{
  padding-left: 80px;
}
footer .content .middle1 a{
  line-height: 24px;
}

footer .content .right input[type="email"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: black;
  background: white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 18px;
  /* border: 2px solid #222222; */
}
footer .content .right input[type="submit"] {
    height: 42px;
    width: 50%;
    font-size: 18px;
    color: #d9d9d9;
    background: #141414d9;
    outline: none;
    border-radius: 44px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 7rem;
    border: 2px solid #182930;
    transition: 0.4s;
}
.content .right input[type="submit"]:hover{
  background: #141414c7;
  color:  #ffffff;
  font-weight: 400;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #134D58;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
    color: black;
}
.boxx a:hover{
	padding-left: 8px;
}

.email a:hover{
  border-bottom: 1px solid black !important;
}
@media (max-width:1100px) {
  footer .content .upper{
    padding-left: 50px;
  }
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:1100px) {
  footer .content .upper{
    padding-left: 50px;
  }
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:1100px) {
  footer .content .middle1{
    padding-left: 50px;
  }
}
@media (max-width:1100px) {
  footer .icons ul li{
    padding-right: 15px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  footer .content .middle2{
    padding-left: 50px;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .upper{
    padding-left: 0;
  }
  footer .content .middle{
    padding-left: 0;
  }
  footer .content .middle1{
    padding-left: 0;
  }
  footer .content .middle2{
    padding-left: 0;
  }
}
.tyfs{
	display: block;
	margin-top: 10px;
	color: #fefefe;
}

/* footer {
	height: 15vh;
	width: 100%;
	color: white;
} */

footer a {
	text-decoration: none;
	color: white;
}

/* .footer-wrapper {
	text-align: center;
	padding: 1rem;
	color: white;
} */

.icons ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.icons i {
	font-size: 30px;
}

.icons ul li {
	list-style: none;
  padding-right: 25px;
}

.icons ul li a {
	display: flex;
	position: relative;
	width: 50px;
	height: 50px;
  margin: 0 0 0 0;
	background-color: #fff;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
	border: 1px solid #fff;
	text-decoration: none;
}

.icons ul li a:hover {
	border: 3px solid #cfcccc;
}

.icons ul li a .icon {
	position: relative;
	color: #262626;
	transition: 0.5s;
	z-index: 3;
}

.icons ul li a:hover .icon {
	color: #fff;
}
.icons ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #55acee;
	transition: 0.5s;
	z-index: 2;
}

.icons ul li a:hover:before {
	top: 0;
}

.icons ul li:nth-child(2) a:before {
	background: rgb(93, 93, 93);
}

.icons ul li:nth-child(4) a:before {
	background: #e1306c;
}

.footer-icons {
	height: 30px;
	width: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border1 {
  border-bottom: 1px solid #cfcccc;
}

form input{
  line-height: 48px;
  background: transparent;
  width:79%;
  color:#cfcccc;
  border:0;
  outline: none;
  font-family: cursive;
}

.formBtns {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-bottom: 20px;
}
.icons{
	margin-top: 20px;
}
@media screen and (max-width: 750px){
.formBtns {
    display: flex;
    flex-direction: column;
}
}
</style>
</body>

</html>
