<footer>
  <div class="content">
    <div class="left box boxx">
      <div class="upper">
        <div class="fot-log">Imagine-AI
          <div class="borders" style="width: 70% !important;;">
            <span></span>
          </div>
        </div>
        
        <p>Join us on our mission to empower creativity, bridging the gap between words and visuals, as we seamlessly translate text into stunning visual realities.</p>
      </div>
    </div>
    <div class="middle1 box boxx">
      <div class="topic">Contact Us
        <div class="borders">
          <span></span>
        </div>
      </div>
      <div class="location">
        <a href="javascript:;">
          ABC Road<br>
          XYZ Building, City<br>
          INDIA
        </a>
      </div>
      <div class="email">
        <a href="javascript:;" id="email-link" value="mrprayag77@gmailcom"
          data-email="surajpratap20002003@gmail.com">✉️surajpratap20002003@gmail.com</a>
 
        <!-- @suraj kindly add your email id above -->
      </div>
      <div class="phone">
         <a href="javascript:;" id="phone-link" value="8070590099">📞+91 1234567890</a>
        <!-- @suraj please add your phone number above -->
      </div>
    </div>
    <div class="middle box boxx">
      <div class="topic">Quick links
        <div class="borders">
          <span></span>
        </div>
      </div>
      <div><a class="hvr-eff" href="/">Home</a></div> 
      <div><a class="hvr-eff" href="/generateImg">Generate</a></div>
      <div><a class="hvr-eff" href="/aboutUs">About Us</a></div>
      <div><a class="hvr-eff" href="/contactUs">Contact us</a></div>
      <div><a class="hvr-eff" href="/privacypolicy">Privacy Policy</a></div>
    </div>
    <div class="middle2 box boxx">
      <div class="topic">Subscribe Us
        <div class="borders">
          <span></span>
        </div>
      </div>
      <div class="border1">
      <form name="submit-to-google-sheet" style="width: 100%;">
        <i class="fas fa-envelope fa-solid"></i>
        <input type="email" class="email-box" id="email_input" name="Email" placeholder="Enter email address" required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$">
        <button type="submit" id="subscribe_button" style="padding: 0 !important; margin: 0 !important; width:11% !important; display: inline; background-color: transparent;" aria-label="send mail"><i class="fas fa-paper-plane" style="color:#fff;"></i></button>
      </form>

        <!-- STYLE & SCRIPT FOR PHONE, EMAIL OPERATIONS board (mrprayag077)  START -->

        <style>
          .email-box{
            background-color: none;
          }
          .thank-you-message {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          .alert1 {
            display: flex;
            align-items: center;
            padding: 0.55rem 0.65rem 0.55rem 0.75rem;
            border-radius: 1rem;
            min-width: 100px;
            justify-content: space-between;
            margin-bottom: 2rem;
            box-shadow:
              0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
              0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
              0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
              0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
              0px 48px 208.9px rgba(0, 0, 0, 0.05),
              0px 115px 500px rgba(0, 0, 0, 0.07)
          }

          .content1 {
            display: flex;
            align-items: center;
          }

          .icon1 {
            font-size: 10px;
            padding: 0.5rem;
            margin-right: 1rem;
            border-radius: 39% 61% 42% 58% / 50% 51% 49% 50%;
            box-shadow:
              0px 3.2px 13.8px rgba(0, 0, 0, 0.02),
              0px 7.6px 33.3px rgba(0, 0, 0, 0.028),
              0px 14.4px 62.6px rgba(0, 0, 0, 0.035),
              0px 25.7px 111.7px rgba(0, 0, 0, 0.042),
              0px 48px 208.9px rgba(0, 0, 0, 0.05),
              0px 115px 500px rgba(0, 0, 0, 0.07)
          }

          .success1 {
            background-color: #d7f1de;
            border: 2px solid #3ebd61;
          }

          .success1 .icon1 {
            background-color: #3ebd61;
          }

          .info1 {
            background-color: #c2dfe8;
            border: 2px solid #006CE3;
          }

          .info1 .icon1 {
            background-color: #006CE3;

          }

          #text-box {
            font-size: 15px;
            font-weight: 700;
            color: #222222;

          }

          .cont {

            font-family: 'Poppins', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            color: red;
          }
        </style>
        <script>

          var emailLink = document.getElementById('email-link');
          var email = emailLink.getAttribute('data-email');
          var emoji = '✉️';

          if (email.length > 15) {
            var truncatedEmail = email.slice(0, 15) + '...';
            emailLink.textContent = emoji + truncatedEmail;
          }

          document.addEventListener('DOMContentLoaded', function () {
            var subscribeButton = document.getElementById('subscribe_button');

            subscribeButton.addEventListener('click', function (event) {
              event.preventDefault();

              var emailInput = document.getElementById('email_input');
              var email = emailInput.value.trim();

              if (validateEmail(email)) {

                showMessage('Thank you for subscribing!');
              } else {
                console.log('Please enter a valid Gmail address.');
                toastr["warning"]("Please provide valid Email Id.", "Validation")
              }
            });

            function validateEmail(email) {
              var emailRegex = /^[^\s@]+@gmail\.com$/i;
              return emailRegex.test(email);
            }

            function showMessage(msg) {
              toastr.success(msg, "Success");
            }
          })

        </script>


      </div>
      <div class="tyfs" id="msg"></div>
        <div class="icons" style="margin-top: 48px;">

          <ul>
            <li>
              <a 
                target="_blank" 
                aria-label="Visit us on Linkedin"
                title="Linkedin (External Link)"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/suraj-pratap-948a92225/"
	             >
		             <i class="fab fa-linkedin-in icon"><img loading="lazy" class="footer-icons" src="./faviconicon/linkedin.webp" alt=""></i>
	            </a>
            </li>
            <li>
              <a 
                target="_blank" 
                aria-label="Visit us on Github"
                title="Github (External Link)"
                rel="noopener noreferrer"
                  href="https://github.com/SurajPratap10"
	            > 
	             <i class="fab fa-github icon"><img loading="lazy" class="footer-icons" src="./faviconicon/github.webp" alt=""></i> 
	           </a>
            </li>
            <li>
              <a 
                target="_blank" 
                aria-label="Visit us on Facebook"
                title="Facebook (External Link)"
                rel="noopener noreferrer"
		            href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"
	            >

	               <i class="fab fa-facebook icon"><img class="footer-icons" src="./faviconicon/facebook.webp" alt=""></i>
	            </a>
            </li>
            <li>
              <a 
                target="_blank" 
                aria-label="Visit us on Instagram"
                title="Instagram (External Link)"
                rel="noopener noreferrer"
                href="https://www.instagram.com/aridoshikazu_1/"
               >

	              <i class="fab fa-instagram icon"><img class="footer-icons" src="./faviconicon/instagram.webp" alt=""></i>

	           </a>
            </li>
          </ul>
        </div>
    </div>
</div>
  <div class="bottom">
    <p class="bot-l">Copyright © <%= new Date().getFullYear();%> <a href="#">Imagine-AI</a> | All rights reserved</p>
  </div>
</footer>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycby0Fgr8147egnJYLp30zUPFPTKPEV_c2oV1_rvLU34dRDGiFYsxwhFEK2BpgIuT7RE_/exec'
  const form = document.forms['submit-to-google-sheet']
  const msg = document.getElementById("msg");
  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response =>{
     console.log("Thank You For Subscribing");

        //  msg.innerHTML = "Thank You For Subscribing"
        // setTimeout(function () {
        //  msg.innerHTML = ""
        // }, 5000)
        form.reset()
      })
      .catch(error => console.error('Error!', error.message))
  })

  // Copy phone number to clip board (mrprayag077)  START 

  document.addEventListener('DOMContentLoaded', function () {

    var phoneLink = document.getElementById('phone-link');

    phoneLink.addEventListener('click', function (event) {
      event.preventDefault();

      var phoneNumber = phoneLink.getAttribute('value');
      copyToClipboard(phoneNumber);
      showMessage('Copied to clipboard');

      var isMobileDevice = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

      if (isMobileDevice) {
        window.location.href = 'tel:' + phoneNumber;
      } else {
        console.log('Not a mobile device. Opening dial pad is not supported.');
        // Handle opening the dial pad on non-mobile devices (optional)
      }

    });

    function copyToClipboard(text) {
      var textarea = document.createElement('textarea');
      textarea.value = text;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
    }

    function showMessage(message) {
      var messageBox = document.createElement('div');
      //  messageBox.textContent = message;

      messageBox.innerHTML = `     <div class="info1 alert1">
      <div class="content1">
         <div class="icon1">
                  <svg width="50" height="50" id="Layer_1" style="enable-background:new 0 0 128 128;" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle fill="#fff" cx="64" cy="64" r="64"/></g><g><path fill="#006CE3" d="M54.3,97.2L24.8,67.7c-0.4-0.4-0.4-1,0-1.4l8.5-8.5c0.4-0.4,1-0.4,1.4,0L55,78.1l38.2-38.2   c0.4-0.4,1-0.4,1.4,0l8.5,8.5c0.4,0.4,0.4,1,0,1.4L55.7,97.2C55.3,97.6,54.7,97.6,54.3,97.2z"/></g></svg>
              </div>
        <p id="text-box ">Copied to Clipboard!!</p>
      </div>
      
    </div>
    `;
      messageBox.classList.add('clipboard-message');
      document.body.appendChild(messageBox);
      setTimeout(function () {
        document.body.removeChild(messageBox);
      }, 2000);
    }



    var emailLink = document.getElementById('email-link');

    emailLink.addEventListener('click', function (event) {
      event.preventDefault();

      var emailLink2 = emailLink.getAttribute('value');
      copyToClipboard(emailLink2);

      console.log('lllllllllllllllllllllllllllllll');
      console.log(emailLink2);

      var recipientEmail = emailLink.getAttribute('data-email');
      var subject = 'Hello';
      var body = 'I wanted to reach out to you...';

      sendEmail(recipientEmail, subject, body);


      var emailid = emailLink.getAttribute('value');


      var emailInput = document.getElementById('email-link');
      var email = emailInput.value;

      copyToClipboard1(emailid);
      showMessage1('Copied to clipboard');
    });


    function copyToClipboard1(text) {
      var textarea = document.createElement('textarea');
      textarea.value = text;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
    }

    function showMessage1(message) {


  toastr.success("Copied to Clipboard!", message);
}

    function sendEmail(recipientEmail, subject, body) {
      var emailUrl = 'mailto:' + recipientEmail;

      if (subject) {
        emailUrl += '?subject=' + encodeURIComponent(subject);
      }

      if (body) {
        emailUrl += '&body=' + encodeURIComponent(body);
      }

      window.location.href = emailUrl;
    }

  });

</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

 .clipboard-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
  }

footer{
	
	width: 100%;
  position: relative; 
	bottom: 0;
	left: 0;
}
footer .content{
  max-width: 100%;
  background-color: #22052C;;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
footer .content p,a{
  color: #fff;
}
hr {
  margin-left: 11% ;
  justify-content: center;
  width: 80% ;
  border: 0;
  opacity: 0.5 ; 
  border-bottom: 3px solid #fff;

}
footer .content .box{
  width: 25%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom:12px;

}
footer .content .middle1 .topic{
  padding-bottom: 12px;

}
footer .content .middle .topic{
  padding-bottom: 12px;

}
footer .content .middle2 .topic{
  padding-bottom: 12px;

}
.fot-log{

    font-size: 30px;
    font-weight: bolder;

	color: #fefefe;
  padding-bottom: 2rem;
}
.email {
  padding-top: 1rem;
  width: fit-content;
  border-bottom: 1px solid #cfcccc;
}
.phone {
  padding-top: 1rem;
  font-weight:600;
}
.borders {
  width: 50%;
  height: 3px;
  background: #6495ed ;
  border-radius: 3px;
  position: relative;
}

.borders span{
  width: 25px;
  height: 100%;
  display: flex;
  background: #73c2fb;
  border-radius: 3px;
  position: relative;
  animation: animate 3s ease-in-out infinite;
  animation-direction:alternate-reverse;
}

@keyframes animate{
  0%{
    left: 1px;
  }
  100%{
    left: 100%;
  }
}

footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .upper{
  padding-left: 80px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .middle1{
  padding-left: 80px;
}
footer .content .middle1 a{
  line-height: 24px;
}

footer .content .right input[type="email"]{
  height: 45px;
  width: 100%;
  outline: none;
  background: white;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 17px;
  border: none;
  font-weight: bold;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: white;
  background: #222222;
  outline: none;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: none;
  font-weight: bolder;
  transition: all 0.5s ease;
}
.content .right input[type="submit"]:hover{

  background: white;
  color:  #222222;

}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  color: #d9d9d9;
  background-color: #22052C;
  padding: 30px 0 30px 0;
  display: grid;
  place-items: center;
}
footer .bottom a{
  color: #134D58;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
    color: black;
}


.email a:hover{
  border-bottom: 1px solid black !important;
}
@media (max-width:1100px) {
  footer .content .upper{
    padding-left: 50px;
  }
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:1100px) {
  footer .content .upper{
    padding-left: 50px;
  }
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:1100px) {
  footer .content .middle1{
    padding-left: 50px;
  }
}
@media (max-width:1100px) {
  footer .icons ul li{
    padding-right: 15px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  footer .content .middle2{
    padding-left: 50px;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .upper{
    padding-left: 0;
  }
  footer .content .middle{
    padding-left: 0;
  }
  footer .content .middle1{
    padding-left: 0;
  }
  footer .content .middle2{
    padding-left: 0;
  }
}
.tyfs{
	display: block;
	margin-top: 10px;
	color: #fefefe;
}

footer a {
	text-decoration: none;
	color: white;
}

.icons ul {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}

.icons i {
	font-size: 30px;
}

.icons ul li {
	list-style: none;
  padding-right: 25px;
}

.icons ul li a {
	display: flex;
	position: relative;
	width: 50px;
	height: 50px;
  margin: 0 0 0 0;
	background-color: #fff;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
	border: 1px solid #fff;
	text-decoration: none;
}

.icons ul li a:hover {
	border: 3px solid #cfcccc;
}

.icons ul li a .icon {
	position: relative;
	color: #262626;
	transition: 0.5s;
	z-index: 3;
}

.icons ul li a:hover .icon {
	color: #fff;
}
.icons ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #55acee;
	transition: 0.5s;
	z-index: 2;
}

.icons ul li a:hover:before {
	top: 0;
}

.icons ul li:nth-child(2) a:before {
	background: rgb(93, 93, 93);
}

.icons ul li:nth-child(4) a:before {
	background: #e1306c;
}

.footer-icons {
	height: 30px;
	width: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border1 {
  border-bottom: 1px solid #cfcccc;
}

form input{
  line-height: 48px;
  background: transparent;
  width:79%;
  color:#cfcccc;
  border:0;
  outline: none;
  font-family: cursive;
}

.formBtns {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-bottom: 20px;
}
.icons{
	margin-top: 20px;
}
@media screen and (max-width: 750px){
.formBtns {
    display: flex;
    flex-direction: column;
}
}

input[type="email"]::placeholder {
  color: #ffffff;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="js/toastr.min.js"></script>
<script>
    toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": true,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
</script>

<!-- SEO SETTINGS -->
<script type="application/ld+json">
  {
    "@context": "https://imagine-ai-17zf.vercel.app/",
    "@type": "WebSite",
    "name": "IMAGINE - AI",
    "description": "Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images",
    "url": "https://imagine-ai-17zf.vercel.app/",
    "image": "https://imagine-ai-17zf.vercel.app/logo-no-background.webp,
    "author": {
      "@type": "Person",
      "name": "SurajPratap10"
    },
    "publisher": {
      "@type": "Organization",
      "name": "IMAGINE-AI",
      "logo": {
        "@type": "ImageObject",
        "url": "https://imagine-ai-17zf.vercel.app/logo-no-background.webp"
      }
    },
    "datePublished": "2023-06-08"
  }
  </script>


</body>

</html>
