<link rel="stylesheet" href="../../public/css/style.css">
<footer>
  <div class="content">
    <div class="left box boxx">
      <div class="upper">
        <div class="fot-log">Imagine-AI</div>
        <p>Join us on an adventure to <br> unlock the power of Artificial Intelligence</p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="javascript:;">📞+91 1234******</a>
          <!-- @suraj please add your phone number above -->
        </div>
        <div class="email">
          <a href="javascript:;">✉️surajpratap20002003@gmail.com</a> 
          <!-- @suraj kindly add your email id above -->
        </div>
      </div>
    </div>
    <div class="middle box boxx">
      <div class="topic">Quick links</div>
      <div><a href="/">Home</a></div> 
      <div><a href="/generateImg">Generate</a></div>
      <div><a href="/contactUs">Contact us</a></div>
      <div><a href="/privacypolicy">Privacy Policy</a></div>
      
    </div>
    <div class="right box">
      <div class="topic">Subscribe to us</div>
      <form name="submit-to-google-sheet">
        <input type="text" name="Email" placeholder="Enter email address" required>
        <input type="submit" name="" value="Send">
        <div class="flow"></div>
      </form>
      <div class="tyfs" id="msg"></div>
        <div class="icons">

          <ul>
            <li>
              <a title="linkedin" target="_blank" href="https://www.linkedin.com/in/suraj-pratap-948a92225/"><i
                  class="fab fa-linkedin-in icon"><img class="footer-icons" src="./faviconicon/linkedin.png" alt="linkedin"></i></a>
            </li>
            <li>
              <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <i
                  class="fab fa-github icon"><img class="footer-icons" src="./faviconicon/github.png" alt="github"></i> </a>
            </li>
            <li>
              <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><i
                  class="fab fa-twitter icon"><img class="footer-icons" src="./faviconicon/facebook.png" alt="facebook"></i></a>
            </li>
            <li>
              <a title="Instagram" target="_blank" href="https://www.instagram.com/aridoshikazu_1/"><i
                  class="fab fa-youtube icon"><img class="footer-icons" src="./faviconicon/instagram.png" alt="Instagram"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="bottom">
    <p class="bot-l">Copyright © 2020 <a href="#">Imagine-AI</a> All rights reserved</p>
  </div>
</footer>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycby0Fgr8147egnJYLp30zUPFPTKPEV_c2oV1_rvLU34dRDGiFYsxwhFEK2BpgIuT7RE_/exec'
  const form = document.forms['submit-to-google-sheet']
  const msg = document.getElementById("msg");
  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response =>{
        msg.innerHTML= "Thank You For Subscribing"
        setTimeout(function(){
          msg.innerHTML= ""
        },5000)
        form.reset()
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
footer{
	
	width: 100%;
	/* position: fixed; */
	bottom: 0;
	left: 0;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
.fot-log{
    font-size: 30px;
	color: #fefefe;
}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: black;
  background: white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border-radius: 18px;
  /* border: 2px solid #222222; */
}
footer .content .right input[type="submit"] {
    height: 42px;
    width: 50%;
    font-size: 18px;
    color: #d9d9d9;
    background: #141414d9;
    outline: none;
    border-radius: 44px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 7rem;
    border: 2px solid #182930;
    transition: 0.4s;
}
.content .right input[type="submit"]:hover{
  border:2px solid black;
  background-color: rgb(172, 7, 111);
  color:white;
  font-weight: 400;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #134D58;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
    color: black;
}
.boxx a:hover{
	padding-left: 8px;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
.tyfs{
	display: block;
	margin-top: 10px;
	color: #fefefe;
}

/* footer {
	height: 15vh;
	width: 100%;
	color: white;
} */

footer a {
	text-decoration: none;
	color: white;
}

/* .footer-wrapper {
	text-align: center;
	padding: 1rem;
	color: white;
} */

.icons ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.icons i {
	font-size: 30px;
}

.icons ul li {
	list-style: none;
}

.icons ul li a {
	display: flex;
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #fff;
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	margin: 0 0 0 20px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
	border: 1px solid #fff;
	text-decoration: none;
}

.icons ul li a:hover {
	border: 3px solid #cfcccc;
}

.icons ul li a .icon {
	position: relative;
	color: #262626;
	transition: 0.5s;
	z-index: 3;
}

.icons ul li a:hover .icon {
	color: #fff;
}
.icons ul li a:before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #55acee;
	transition: 0.5s;
	z-index: 2;
}

.icons ul li a:hover:before {
	top: 0;
}

.icons ul li:nth-child(2) a:before {
	background: rgb(93, 93, 93);
}

.icons ul li:nth-child(4) a:before {
	background: #e1306c;
}

.footer-icons {
	height: 30px;
	width: 30px;
}

.formBtns {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-bottom: 20px;
}
.icons{
	margin-top: 20px;
}
@media screen and (max-width: 750px){
.formBtns {
    display: flex;
    flex-direction: column;
}
}
</style>
</body>

</html>