<!-- <footer>
  <div class="footer-wrapper">
  <div class="icons">

    <ul>
      <li>
        <a title="linkedin" target="_blank" href="https://www.linkedin.com/in/suraj-pratap-948a92225/"><i
            class="fab fa-linkedin-in icon"><img class="footer-icons" src="./faviconicon/linkedin.png" alt="linkedin"></i></a>
      </li>
      <li>
        <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <i
            class="fab fa-github icon"><img class="footer-icons" src="./faviconicon/github.png" alt="github"></i> </a>
      </li>
      <li>
        <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><i
            class="fab fa-twitter icon"><img class="footer-icons" src="./faviconicon/facebook.png" alt="facebook"></i></a>
      </li>
      <li>
        <a title="Instagram" target="_blank" href="https://www.instagram.com/aridoshikazu_1/"><i
            class="fab fa-youtube icon"><img class="footer-icons" src="./faviconicon/instagram.png" alt="Instagram"></i></a>
      </li>
    </ul>
  </div>
  <div>

    <p style="margin-top: 1rem;">©<span id="footer-year"></span> Copyright IMAGINE-AI</p>
  </div>
</div>
</footer> -->
<footer>
  <div class="content">
    <div class="left box boxx">
      <div class="upper">
        <div class="fot-log">Imagine-AI</div>
        <p>Join us on an adventure to <br> unlock the power of Artificial Intelligence</p>
      </div>
      <div class="lower">
        <div class="topic">Contact us</div>
        <div class="phone">
          <a href="#">📞+91 1234******</a>
          <!-- @suraj please add your phone number above -->
        </div>
        <div class="email">
          <a href="mailto:#">✉️surajpratap20002003@gmail.com</a> 
          <!-- @suraj kindly add your email id above -->
        </div>
      </div>
    </div>
    <div class="middle box boxx">
      <div class="topic">Quick links</div>
      <div><a href="/">Home</a></div> 
      <div><a href="/generateImg">Generate</a></div>
      <div><a href="/contactUs">Contact us</a></div>
      <div><a href="/privacypolicy">Privacy Policy</a></div>
      
    </div>
    <div class="right box">
      <div class="topic">Subscribe to us</div>
      <form name="submit-to-google-sheet">
        <input type="text" name="Email" placeholder="Enter email address" required>
        <input type="submit" name="" value="Send">
        <div class="flow"></div>
      </form>
      <div class="tyfs" id="msg"></div>
        <div class="icons">

          <ul>
            <li>
              <a title="linkedin" target="_blank" href="https://www.linkedin.com/in/suraj-pratap-948a92225/"><i
                  class="fab fa-linkedin-in icon"><img class="footer-icons" src="./faviconicon/linkedin.png" alt="linkedin"></i></a>
            </li>
            <li>
              <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <i
                  class="fab fa-github icon"><img class="footer-icons" src="./faviconicon/github.png" alt="github"></i> </a>
            </li>
            <li>
              <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><i
                  class="fab fa-twitter icon"><img class="footer-icons" src="./faviconicon/facebook.png" alt="facebook"></i></a>
            </li>
            <li>
              <a title="Instagram" target="_blank" href="https://www.instagram.com/aridoshikazu_1/"><i
                  class="fab fa-youtube icon"><img class="footer-icons" src="./faviconicon/instagram.png" alt="Instagram"></i></a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="bottom">
    <p class="bot-l">Copyright © 2020 <a href="#">Imagine-AI</a> All rights reserved</p>
  </div>
</footer>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycby0Fgr8147egnJYLp30zUPFPTKPEV_c2oV1_rvLU34dRDGiFYsxwhFEK2BpgIuT7RE_/exec'
  const form = document.forms['submit-to-google-sheet']
  const msg = document.getElementById("msg");
  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response =>{
        msg.innerHTML= "Thank You For Subscribing"
        setTimeout(function(){
          msg.innerHTML= ""
        },5000)
        form.reset()
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
</body>

</html>