<footer>
    <div class="footer-wrapper">
    <div class="icons">

      <ul>
        <li>
          <a title="linkedin" target="_blank" href="https://www.linkedin.com/in/suraj-pratap-948a92225/"><img class="footer-icons icon" src="./faviconicon/linkedin.png" alt="linkedin"></i></a>
        </li>
        <li>
          <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <img class="footer-icons icon" src="./faviconicon/github.png" alt="github"> </a>
        </li>
        <li>
          <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><img class="footer-icons icon" src="./faviconicon/facebook.png" alt="facebook"></i></a>
        </li>
        <li>
          <a title="Instagram" target="_blank" href="https://www.instagram.com/aridoshikazu_1/"><img class="footer-icons icon" src="./faviconicon/instagram.png" alt="Instagram"></i></a>
        </li>
      </ul>
    </div>
    <div>

      <p style="margin-top: 1rem;">©<span id="footer-year"></span> Copyright IMAGINE-AI</p>
    </div>
  </div>
  </footer>
</body>

</html>