<footer>
  <div class="footer-wrapper">
  <div class="icons">

    <ul>
      <li>
        <a title="linkedin" target="_blank" href="https://www.linkedin.com/in/suraj-pratap-948a92225/"><i
            class="fab fa-linkedin-in icon"><img class="footer-icons" src="./faviconicon/linkedin.png" alt="linkedin"></i></a>
      </li>
      <li>
        <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <i
            class="fab fa-github icon"><img class="footer-icons" src="./faviconicon/github.png" alt="github"></i> </a>
      </li>
      <li>
        <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><i
            class="fab fa-twitter icon"><img class="footer-icons" src="./faviconicon/facebook.png" alt="facebook"></i></a>
      </li>
      <li>
        <a title="Instagram" target="_blank" href="https://www.instagram.com/aridoshikazu_1/"><i
            class="fab fa-youtube icon"><img class="footer-icons" src="./faviconicon/instagram.png" alt="Instagram"></i></a>
      </li>
    </ul>
  </div>
  <div>

    <p style="margin-top: 1rem;">©<span id="footer-year"></span> Copyright IMAGINE-AI</p>
  </div>
</div>
</footer>
</body>

</html>