<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Primary Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="title" content="IMAGINE - AI" />
		<meta
		name="description"
		content="The IMAGINE - AI, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses OpenAI's Dall-E models to generate images."
		/>
		<meta name="keywords" content="IMAGINE - AI, OpenAI, Dall-E, imagination, image generator, AI, AI images">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://imagine-ai-17zf.vercel.app/" />
		<meta property="og:title" content="IMAGINE - AI" />
		<meta
		property="og:description"
		content="The IMAGINE - AI, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses OpenAI's Dall-E models to generate images."
		/>
		<meta property="og:image" content="" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://imagine-ai-17zf.vercel.app/"/>
		<meta property="twitter:title" content="IMAGINE - AI" />
		<meta
		 property="twitter:description"
		 content="The IMAGINE - AI, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses OpenAI's Dall-E models to generate images."
		/>
		<meta property="twitter:image" content="" />

		<link rel="icon" type="image/png" sizes="96x96" href="favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/b70d731558.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/spinner.css" />
		<link rel="stylesheet" href="css/vanilla-toast.css" />
		<script src="js/main.js" defer></script>
		<script src="js/signup.js" defer></script>
		<script src="js/login.js" defer></script>
		<script src="js/validation.js"></script>
		<title>IMAGINE - AI</title>
<!-- Please do not close any tag here this is EJS include -->
