<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      IMAGINE - AI | Unleashing the Power of DALL-E 2 to Generate Stunning,
      One-of-a-Kind Images
    </title>

    <!-- SEO SETTINGS (mrprayag) -->
    <meta name="robots" content="index, follow" />
    <meta name="language" content="en" />
    <meta name="revisit-after" content="7 days" />
    <meta name="distribution" content="global" />
    <meta name="geo.region" content="india" />
    <meta
      name="googlebot"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta http-equiv="content-language" content="en" />
    <meta
      name="description"
      content="IMAGINE-AI, Unleashing the Power of DALL-E 2 to Generate Stunning, One-of-a-Kind Images"
    />
    <meta
      name="keywords"
      content="AI image generator,DALL-E 2,Creative image generation,Unique artwork creation,Visual content generator,AI-assisted creativity,Unleashing imagination with AI,Prompts for image creation,Endless visual possibilities,		Original and stunning images,OpenAI API integration,		Node.js and Express-based tool,Mobile-responsive image generator,AI-powered design elements,Limitless creativity with IMAGINE - AI"
    />
    <link rel="canonical" href="https://imagine-ai-17zf.vercel.app/" />

    <!-- Open Graph Essentials -->
    <meta property="og:type" content="website" />
    <meta name="og:author" content="Suraj Pratap" />
    <meta property="og:url" content="https://imagine-ai-17zf.vercel.app/" />
    <meta
      name="og:title"
      content="IMAGINE - AI | Unleashing the Power of DALL-E 2 to Generate Stunning, One-of-a-Kind Images"
    />
    <meta
      name="og:description"
      content="IMAGINE - AI is a revolutionary image generator powered by the OpenAI API library DALL-E 2. Built with Node.js and Express, this fully mobile-responsive tool unleashes the power of artificial intelligence to generate stunning, one-of-a-kind images."
    />
    <meta
      property="og:image"
      content="https://imagine-ai-17zf.vercel.app/logo-no-background.webp"
    />

    <!-- Twitter Essentials -->
    <meta
      name="twitter:card"
      content="https://imagine-ai-17zf.vercel.app/logo-no-background.webp"
    />
    <meta name="twitter:site" content="@SurajPratap10" />
    <meta
      name="twitter:image"
      content="https://imagine-ai-17zf.vercel.app/logo-no-background.webp"
    />
    <meta
      property="twitter:url"
      content="https://imagine-ai-17zf.vercel.app/"
    />
    <meta property="twitter:title" content="IMAGINE AI - AI" />
    <meta
      property="twitter:description"
      content="IMAGINE - AI | Unleashing the Power of DALL-E 2 to Generate Stunning, One-of-a-Kind Images."
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="96x96" href="favicon.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="icon" type="image/png" sizes="96x96" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Fontawsome -->
    <script
      src="https://kit.fontawesome.com/b70d731558.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/spinner.css" />
    <link rel="stylesheet" href="css/vanilla-toast.css" />
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <script src="js/main.js" defer></script>
    <script src="js/signup.js" defer></script>
    <script src="js/login.js" defer></script>
    <script src="js/validation.js"></script>
    <title>IMAGINE - AI</title>
    <!-- Please do not close any tag here this is EJS include -->
