<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a class="AI white-color <%= path === '/' ? 'active' : '' %>" href="/">HOME</a>
                <a class="AI white-color <%= path === '/generateImg' ? 'active' : '' %>" href="/generateImg">IMAGINE -
                    AI</a>
                <a class="AI white-color <%= path === '/contactUs' ? 'active' : '' %>" href="/contactUs">CONTACT -
                    US</a>
            </div>
            <div class="nav-links">
                <ul>
                    <li>
                        <a class="AI" id="header-btn1" href="https://openai.com/dall-e-2/" target="_blank">DALL.E 2 -
                            OpenAI API</a>
                    </li>
                    <li>
                        <a class="login AI white-color" id="header-btn2" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
