<body>
  <!-- Dark mode toggle button -->
  <!-- <div id="dark-mode-icon" class="dark-mode-toggle" onclick="toggleDarkMode()">
    <i class="fa-sharp fa-solid fa-sun"></i>
  </div> -->

  <header>
    <div class="container">
      <div class="subcontainer">
        <nav class="navbar">
          <a class="logo" href="/">HOME</a>
          <ul class="nav-menu">
            <li class="nav-item">
              <a href="/generateImg">IMAGINE -
                AI</a>
            </li>
            <li class="nav-item">
              <a href="/aboutUs">ABOUT</a>
            </li>
            <li class="nav-item">
              <a href="/contactUs">CONTACT -
                US</a>
            </li>
            <li class="nav-item">
              <a href="https://openai.com/dall-e-2/" target="_blank">DALL.E 2 -
                OpenAI API</a>
            </li>
            <li class="nav-item" id="header-btn2">
              <a href="/login" >Login</a>
            </li>
          </ul>
          <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <style>
    header {
      position: fixed;
      top: 0;
      width: 100%;
      overflow: hidden;
      z-index: 100;
      background: linear-gradient(-45deg, #7152ee, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
      color: #fff;
    }
    li {
      list-style: none;
    }
    ul li a {
      color: rgb(249, 245, 245);
      text-decoration: none;
    }
    .container {
      width: 1600px;
      margin: auto;
      z-index: 50px;
    }
    .subcontainer {
      width: 85%;
      margin: auto;
    }

    .navbar {
      width: 100%;
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
    }

    .logo {
      font-size: 2rem;
      text-decoration: none;
      cursor: pointer;
      color: black;
      font-weight: bold;
    }

    .hamburger {
      display: none;
      cursor: pointer;
    }

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px 0;
      transition: all 0.3s ease;
      background-color: rgb(251, 245, 245);
    }

    @media (max-width: 1600px) {
      .container {
        width: 100%;
      }
    }

    @media (max-width: 1024px) {
      .hamburger {
        display: block;
      }

      .hamburger.active.bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active.bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active.bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: linear-gradient(-45deg, #7152ee, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
      }

      .nav-item {
        margin: 16px 0;
      }

      .nav-menu.active {
        left: 0;
      }
    }
  </style>

  <script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");
    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    });

    document.querySelector(".nav-link").forEach((element) => {
      element.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
      });
    });
  </script>

