<body>
  <!-- Dark mode toggle button -->
  <div id="dark-mode-icon" class="dark-mode-toggle" onclick="toggleDarkMode()">
    <i class="fa-sharp fa-solid fa-sun"></i>
  </div>
  <header>
    <div class="navbar">
      <div class="logo-image">

        <img loading="lazy" src="imagine-ai-low-resolution-logo-color-on-transparent-background.png" class="home-logo" alt="">
      </div>
      <div  class="nav-links hide-sm" id="mainNav">
        <div class="left-nav-links">
          <div class="logo ">
            <a class="AI white-color hover-effect <%= path === '/' ? 'active' : '' %>" href="/">HOME</a>
          </div>
          <div>
            <a class="AI white-color hover-effect <%= path === '/generateImg' ? 'active' : '' %>"
              href="/generateImg">IMAGINE -
              AI</a>
          </div>
          <div>
            <a class="AI white-color hover-effect <%= path === '/contactUs' ? 'active' : '' %>" href="/aboutUs">ABOUT -
            US</a>
          </div>
          <div>
            <a class="AI white-color hover-effect <%= path === '/contactUs' ? 'active' : '' %>" href="/contactUs">CONTACT -
              US</a>
          </div>
        </div>
        <div class="right-nav-links">
          <a class="AI white-color hover-effect" href="https://openai.com/dall-e-2/" target="_blank">DALL.E 2 -
            OpenAI API</a>
        </div>
      </div>
      <div>
        <a class="login AI white-color" id="header-btn2" href="/login">Login</a>
      </div>
      <div onclick="toggleNavbar()" class="barIcon hide-lg hover-effect"><i class="fa-solid fa-bars"></i></div>
    </div>
  </header>

  <style>
    /* Light mode styles */
    .light-mode {
    }

    /* Dark mode styles */
    .dark-mode {
      background-color: #121212;
      color: #ffffff;
    }

    /* Dark mode styles for navbar */
    .dark-mode #navbar {
      background-color: #121212;
      color: #ffffff;
    }

    /* Dark mode styles for the about section */
    .dark-mode .about {
      background-color: #121212;
      color: #ffffff;
    }

    /* Styles for the dark mode toggle button */
    .dark-mode-toggle {
      width: fit-content;
      backdrop-filter: blur(4px);
      position: fixed;
      top: 15px;
      right: 335px;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 999;
    }

    .dark-mode-toggle i {
      transition: transform 0.3s ease-in-out;
      font-size: 1.1em;
    }


    #dark-mode-icon{
      position: fixed;
      top: 21px;
      right: 400px;
    }


    @media(max-width:900px){
      .navbar{
        display: none;
      }
      
    }
  </style>

  <script>
    function toggleDarkMode() {
      const body = document.body;
      const navbar = document.querySelector(".navbar");
      const aboutSection = document.querySelector(".about");
      const darkModeToggle = document.querySelector(".dark-mode-toggle");
      const darkModeIcon = document.getElementById("dark-mode-icon");

      body.classList.toggle("dark-mode");
      navbar.classList.toggle("dark-mode");
      aboutSection.classList.toggle("dark-mode");
      darkModeToggle.classList.toggle("dark");

      if (darkModeIcon.innerHTML === '<i class="fa-solid fa-moon"></i>') {
        darkModeIcon.innerHTML = '<i class="fa-sharp fa-solid fa-sun"></i>';
      } else {
        darkModeIcon.innerHTML = '<i class="fa-solid fa-moon"></i>';
      }
    }
  </script>
</body>
