<!DOCTYPE html>
<html>
<head>
  <title>My Page</title>
  <style>
    .preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      z-index: 9999;
    }

    .preloader img {
      width: 100px;
      height: 100px;
      
    }
  </style>
</head>
<body>
  <div id="preloader" class="preloader">
    <img src="imagine-ai-low-resolution-logo-color-on-transparent-background.png" alt="Preloader">
  </div>
</body>
</html>
