<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imagine AI</title>
    <style>
      body {
        padding: 5%;
        margin: 0;
        box-sizing: border-box;
      }
      .container {
        border: 1px solid rgba(55, 65, 85, 1);
      }
      .try-btn {
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        background: rgba(55, 65, 85, 1);
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div style="width: 150px; padding: 25px; margin: auto">
        <img
          style="width: 100%; height: 100%"
          src="https://imagine-ai-17zf.vercel.app/logo-no-background.webp"
          alt="logo"
        />
      </div>

      <hr style="color: rgba(55, 65, 85, 1)" />

      <div style="display: inline-flex; width: 100%">
        <div style="width: 50px; height: 50px; padding: 25px 25px 15px">
          <img
            style="width: 100%; height: 100%"
            src="http://www.pickmaid.com/dubai/assets/images/success-icon.png"
            alt="logo"
          />
        </div>
        <h1 style="margin: 32px 0 0">Congratulations <%= name %></h1>
      </div>

      <main>
        <div style="margin-left: 100px">
          <h3 style="margin-top: 0">
            Your
            <a href="https://imagine-ai-17zf.vercel.app/">Imagine AI</a> account
            has been created successfully.
            <br />
          </h3>
          <p>
            The IMAGINE - AI offers a powerful AI tool that can generate
            original and visually stunning images. <br />
            With just a few prompts or keywords, the AI is able to generate a
            wide range of images that are unlike anything that has been seen
            before.
          </p>
        </div>
      </main>

      <div
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 25px 0;
        "
      >
        <a href="https://imagine-ai-17zf.vercel.app/login" target="_blank">
          <button class="try-btn">Try Now By Loggin In</button>
        </a>
      </div>

      <hr style="color: rgba(55, 65, 85, 1)" />

      <div style="width: 100%; padding: 10px">
        <p style="display: flex; justify-content: center">
          Copyright © 2020 &nbsp;
          <a
            style="color: black"
            href="https://imagine-ai-17zf.vercel.app/"
            target="_blank"
          >
            Imagine-AI</a
          >
          &nbsp; | &nbsp; All rights reserved
        </p>
      </div>
    </div>
  </body>
</html>
