<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://kit.fontawesome.com/c4254e24a8.js"></script>
<style>
 
  /* .swiper-container {
    width: 100%;
    height: 100%;
  } */
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  }
  .swiper-button-next {
    right: 10px;
  }
  .swiper-button-prev {
    left: 10px;
  }

  .card-icon {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);
  }
</style>

<h1 class="headline" style="text-align: center;">Why People Love Imagine-AI</h1>
<div id="slider" class="swiper-container">
  <div class="swiper-wrapper" style="cursor: grab;transition-duration: 0ms;transform: translate3d(-508.667px, 0px, 0px);margin-left: 18px;">
    <div class="swiper-slide">
      <div class="feature">
        <!-- Card 1 -->
        <div class="container2">
          <div class="cardd data-tilt">
            <!-- Card Content -->
            <div class="card-icon">
              <img loading="lazy" src="chris1.webp" alt="icon" />
              <h2>Chris</h2>
              <p style="padding: 0 10px 0 10px;">Their text-to-image AI amazed me with its stunningly lifelike creations</p>
              <div class="icons">
                <ul>
                  <li>
                    <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/">
                      <i class="fab fa-facebook-f icon"></i>
                    </a>
                  </li>
                  <li>
                    <a title="github" target="_blank" href="https://github.com/SurajPratap10">
                      <i class="fab fa-github icon"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="feature">
        <!-- Card 2 -->
        <div class="container2">
          <div class="card2 data-tilt">
            <!-- Card Content -->
            <div class="card-icon">
              <img loading="lazy" src="sarah2.webp" alt="icon" />
              <h2>Sarah</h2>
              <p style="padding: 0 10px 0 10px;">The level of customization and control over the generated visuals is truly remarkable</p>
              <div class="icons">
                <ul>
                  <li>
                    <a title="facebook" target="_blank" href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/">
                      <i class="fab fa-facebook-f icon"></i>
                    </a>
                  </li>
                  <li>
                    <a title="github" target="_blank" href="https://github.com/SurajPratap10">
                      <i class="fab fa-github icon"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
        <div class="feature">
          <!-- Card 3 -->
          <div class="container2">
            <div class="card2 data-tilt">
              <!-- Card Content -->
              <div class="card-icon">
                <img loading="lazy" src="brian1.webp" alt="icon" />
                <h2>Brian</h2>
                <p style="padding: 0 10px 0 10px;">I found myself immersed in a world where words effortlessly transformed
                  into captivating artworks.</p>
                <div class="icons">
                  <ul>
                    <li>
                      <a title="facebook" target="_blank"
                        href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><i
                          class="fa-brands fa-facebook-f icon"></i></a>
                    </li>
                    <li>
                      <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <i
                          class="fab fa-github icon"></i> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="feature">
          <!-- Card 4 -->
          <div class="container2">
            <div class="card2 data-tilt">
              <!-- Card Content -->
              <div class="card-icon">
                <img loading="lazy" src="chloe1.webp" alt="icon" />
                <h2>Chloe</h2>
                <p style="padding: 0 10px 0 10px;">I never thought my words could come alive so vividly until I used their
                  AI-powered solution</p>
                <div class="icons">
                  <ul>
                    <li>
                      <a title="facebook" target="_blank"
                        href="https://www.facebook.com/people/Suraj-Pratap/pfbid033hsRtGKKKTEkrnAax86WoEASLtfYEuzSijZQr9aPemr4X2DjM1zwXFnrWtfBiDHNl/"><i
                          class="fa-brands fa-facebook-f icon"></i></a>
                    </li>
                    <li>
                      <a title="github" target="_blank" href="https://github.com/SurajPratap10"> <i
                          class="fab fa-github icon"></i> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('#slider', {
      effect: "coverflow",
      loop: true,
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 3,
      coverflowEffect: {
        rotate: 25,
        stretch: 25,
			  depth: 150,
        modifier: 1,
        slideShadows: false,
      },
      breakpoints: {
        // when window width is >= 320px
        320: {
          slidesPerView: 1,
        },
        // when window width is >= 680px
        480: {
          slidesPerView: 2,
        },
        // when window width is >= 1200px
        640: {
          slidesPerView: 3,
        },
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
  
    });
  </script>
  
