*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    height: auto;
  }
}
