<script
  type="text/javascript"
  src="https://studio.alan.app/web/lib/alan_lib.min.js"
></script>
<div class="alan-btn"></div>

<script>
  var alanBtnInstance = alanBtn({
    key: "1a97e2f6f393c58464a5a62bdae65be32e956eca572e1d8b807a3e2338fdd0dc/stage",
    onCommand: function (commandData) {
      if (commandData.command === "go:back") {
        // Call the client code that will react to the received command
      }
    },
    onCommand: (commandData, value) => {
      if (commandData.command === "WriteInput") {
        if (commandData) {
          setInputText(commandData.value);
          console.log("hello");
          console.log("------------------------------->", commandData.value);
        }
      }
    },
    onButtonState: async function (status) {
      if (status === "ONLINE") {
        if (!this.greetingWasSaid) {
          await alanBtnInstance.activate();

          this.greetingWasSaid = true;
        }
      }
    },

    // Handling events
    // onEvent: function (e) {
    //   switch (e.name) {
    //     case "recognized":
    //       console.log('Interim results:', e.text);
    //       setInputText(e.text);
    //       break;
    //     case "parsed":
    //       console.log('Final result:', e.text);
    //       setInputText(e.text);
    //       break;
    //     case "text":
    //       console.log('Alan AI reponse:', e.text);
    //       break;
    //     default:
    //       console.log('Unknown event');
    //   }
    // },
    rootEl: document.getElementById("alan-btn"),
  });
  function pemp(commandData) {
    console.log("called", commandData);
    // Update the input field's value
  }
  function temp(commandData) {
    console.log("called", commandData);
    setInputText(commandData.text); // Update the input field's value
  }

  function setInputText(text) {
    document.getElementById("prompt").value = text;
    console.clear();
    console.log("i am here");
    var btn = document.getElementById("submit");
    btn.click();
  }
</script>
