<%- include('includes/header.ejs') %>
<main>
    <section class="Contact-Us">
        <div class="contact_us">
          <div class="responsive-container-block big-container">
            <div class="responsive-container-block container">
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2">
                <form class="form-box">
                  <div class="container-block form-wrapper">
                    <div class="responsive-container-block">
                      <div class="head-text-box">
                        <p class="text-blk contactus-head">
                          Contact us
                        </p>
                        <p class="text-blk contactus-subhead">
                          The IMAGINE - AI, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses OpenAI's Dall-E models to generate images.                        </p>
                      </div>
                      <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt-6">
                        <p class="text-blk input-title">
                          FIRST NAME
                        </p>
                        <input class="input" id="ijowk-6" name="FirstName" placeholder="john">
                      </div>
                      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <p class="text-blk input-title">
                          LAST NAME
                        </p>
                        <input class="input" id="indfi-4" name="Last Name" placeholder="Moshe">
                      </div>
                      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <p class="text-blk input-title">
                          EMAIL
                        </p>
                        <input class="input" id="ipmgh-6" name="Email" placeholder="johnMosh2@gmail.com">
                      </div>
                      <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                        <p class="text-blk input-title">
                          PHONE NUMBER
                        </p>
                        <input class="input" id="imgis-5" name="PhoneNumber" placeholder="+91 9304******">
                      </div>
                      <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-6">
                        <p class="text-blk input-title">
                          Give your Valuable Feedback
                        </p>
                        <textarea class="textinput" id="i5vyy-6" placeholder="You can contact us here..."></textarea>
                      </div>
                    </div>
                    <div class="btn-wrapper">
                      <button class="btn">
                       <span class="btn-pos Span">Submit</span> 
                       <div class="flow"></div>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-10" id="ifgi">
                <div class="container-box">
                  <div class="text-content">
                    <p class="text-blk contactus-head">
                      Contact us
                    </p>
                    <p class="text-blk contactus-subhead">
                      The IMAGINE - AI, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses OpenAI's Dall-E models to generate images.                    </p>
                  </div>
                  <div class="workik-contact-bigbox">
                    <div class="workik-contact-box">
                      <div class="phone text-box">
                        <a href="">
                          <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg">
                        </a>
                        <p class="contact-text">
                          +91 9304******
                        </p>
                      </div>
                      <div class="address text-box">
                        <a href="">
                          <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg">
                        </a>
                        <p class="contact-text">
                          surajpratap20002003@gmail.com
                        </p>
                      </div>
                      <div class="mail text-box">
                        <a href="">
                          <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET23.jpg">
                        </a>
                        <p class="contact-text">
                          India
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </section>
</main>

<%- include('includes/footer.ejs') %>