<%- include('includes/PRE.ejs') %>
<%- include('includes/header.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
<main>
  <section class="about">
    <div class="dashboard">
      <div class="left">
        <h1 class="dashboard-h1">Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images</h1>
      <div class="main-content-wrapper">
        <div class="main-content">
          <h4>
            The <b>IMAGINE - AI</b>, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses OpenAI's Dall-E models to generate images.
          </h4>

          <h3>The <b>IMAGINE - AI</b> offers a solution to this problem by providing users with a powerful AI tool that can generate original and visually stunning images. With just a few prompts or keywords, the AI is able to generate a wide range of images that are unlike anything that has been seen before.</h3>
        </div>
      </div>

      <a class="try-it-cover" href="/generateImg">
        <button class="btn">
          <span id="try-btn">Try it</span>
          <div class="flow"></div>
        </button>
      </a>
      </div>
      <div class="right">
        <img src="logo-no-background.webp" class="home-logo" alt="">
      </div>
    </div>
    

    <div class="di">
      <h1>Some examples of images generated through DALL-E2</h1>
      <div class="wrapper">
        <div class="cardEx float-in">
          <img src="1.webp" alt="Photograph of astronaut riding horse">
          <div class="info">
            <h1>Horse</h1>
            <p>Photograph of an astronaut riding a horse.</p>
          </div>
        </div>
        <div class="cardEx float-in">
          <img src="2.webp" alt="oil painting of capybara wearing crown">
          <div class="info">
            <h1>Capybara</h1>
            <p>An oil painting of a capybara wearing a crown.</p>
          </div>
        </div>
        <div class="cardEx float-in">
          <img src="3.webp" alt="Synthwave sports car">
          <div class="info">
            <h1>Sports Car</h1>
            <p>Synthwave sports car on a port road.</p>
          </div>
        </div>
        <div class="cardEx float-in">
          <img src="4.webp" alt="astronaut lounging in a resort">
          <div class="info">
            <h1>Astronaut</h1>
            <p>An astronaut lounging in a resort in space, vaporwave.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('includes/footer.ejs') %>
