<%- include('includes/PRE.ejs') %>
<%- include('includes/header.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
  <main>
    <section class="about">

      <h1>Reimagine What's Possible with DALL-E 2: Your Gateway to Breathtaking Visual Realities!</h1>
      <h4>
        Introducing <b>IMAGINE - AI</b>, the innovative solution designed to overcome the limitations of creativity and imagination. Powered by OpenAI's advanced DALL-E 2 API library, IMAGINE - AI is a cutting-edge, fully mobile responsive image generator built with Node.js and Express. </h4>

      <h3>Unleash your creative potential with <b>IMAGINE-AI</b>. By utilising the extensive capabilities of OpenAI's DALL-E 2 models, our leading-edge software enables you to quickly create appealing and distinctive images with just a few prompts or keywords.
      </h3>
      
      <h3>With <b>IMAGINE - AI</b>, enter a new era of image creation. Accept the limitless opportunities it presents, from turning concepts into eye-catching images to pushing the boundaries of your creative endeavours. Get remarkable outcomes by joining the expanding community of experts and enthusiasts who have already embraced the potential of <b>IMAGINE - AI</b>.</h3>

      <div class="main-content">
          <h1>Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images</h1>
          <h4>
          The <b>IMAGINE - AI</b>, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses
          OpenAI's Dall-E models to generate images.</h4>

         <h3>The <b>IMAGINE - AI</b> offers a solution to this problem by providing users with a powerful AI tool that can generate original and visually stunning images. With just a few prompts or keywords, the AI is able to generate a wide range of
          images that are unlike anything that has been seen before.</h3>
      </div>

      <!-- <a class="btn" href="#showcase"><span id="try-btn">Try it</span>
        <div class="flow"></div></a> -->
      <a class="try-it-cover" href="/generateImg">
        <button class="btn">
          <span id="try-btn">Try it</span>
          <div class="flow"></div>
        </button>
      </a>
      <div class="di">
        <h1>Some examples of images generated through DALL-E2</h1>
        <div class="wrapper">
          <div class="cardEx float-in">
              <img src="1.png" alt="">
              <div class="info">
                  <h1>Horse</h1>
                  <p>Photograph of an astronaut riding a horse.</p>
              </div>
          </div>
          <div class="cardEx float-in">
              <img src="2.png" alt="">
              <div class="info">
                  <h1>Capybara</h1>
                  <p>An oil painting of a capybara wearing crown.</p>
              </div>
          </div>
          <div class="cardEx float-in">
              <img src="3.png" alt="">
              <div class="info">
                  <h1>Sports Car</h1>
                  <p>Synthwave sports car on a port road.</p>
              </div>
          </div>
          <div class="cardEx float-in">
              <img src="4.png" alt="">
              <div class="info">
                  <h1>Astronaut</h1>
                  <p>An astronaut lounging in a resort in space, vaporwave.</p>
              </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('includes/footer.ejs') %>
<script>
  var loader = document.getElementById("bodyPRE");

window.addEventListener("load", function(){
    loader.style.display="none";
})
</script>