<%- include('partials/header') %>
<header>
  <div class="navbar">
    <div class="logo">
      <h2 class="AI">IMAGINE - AI</h2>
    </div>
    <div class="nav-links">
      <ul>
        <li>
          <a class="AI" href="https://openai.com/dall-e-2/" target="_blank"
            >DALL.E 2 - OpenAI API</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>

<main>
  <section class="about">
    <h1>Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images</h1>
    <h4>
      The IMAGINE - AI, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses OpenAI's Dall-E models to generate images.</h4>

<h3>The IMAGINE - AI offers a solution to this problem by providing users with a powerful AI tool that can generate original and visually stunning images. With just a few prompts or keywords, the AI is able to generate a wide range of images that are unlike anything that has been seen before.
    </h3>
    <a class="try-it-cover" href="/login">
      <button class="btn">
      <span id="try-btn">Login</span>
      <div class="flow"></div>
    </button>
    </a>
</section>
<%- include('partials/footer') %>
