<%- include('includes/header.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
  <main>
    <section class="about">
      <h1>Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images</h1>
      <h4>
        The <b>IMAGINE - AI</b>, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses
        OpenAI's Dall-E models to generate images.</h4>

      <h3>The <b>IMAGINE - AI</b> offers a solution to this problem by providing users with a powerful AI tool that can generate original and visually stunning images. With just a few prompts or keywords, the AI is able to generate a wide range of
        images that are unlike anything that has been seen before.</h3>
      <!-- <a class="btn" href="#showcase"><span id="try-btn">Try it</span>
        <div class="flow"></div></a> -->
      <a class="try-it-cover" href="/generateImg">
        <button class="btn">
          <span id="try-btn">Try it</span>
          <div class="flow"></div>
        </button>
      </a>
      <div class="di">
        <h1>Some examples of images generated through DALL-E2</h1>
        <div class="wrapper">
          <div class="cardEx">
              <img src="1.png" alt="">
              <div class="info">
                  <h1>Horse</h1>
                  <p>Photograph of an astronaut riding a horse.</p>
              </div>
          </div>
          <div class="cardEx">
              <img src="2.png" alt="">
              <div class="info">
                  <h1>Capybara</h1>
                  <p>An oil painting of a capybara wearing crown.</p>
              </div>
          </div>
          <div class="cardEx">
              <img src="3.png" alt="">
              <div class="info">
                  <h1>Sports Car</h1>
                  <p>Synthwave sports car on a port road.</p>
              </div>
          </div>
          <div class="cardEx">
              <img src="4.png" alt="">
              <div class="info">
                  <h1>Astronaut</h1>
                  <p>An astronaut lounging in a resort in space, vaporwave.</p>
              </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('includes/footer.ejs') %>
