<%- include('includes/PRE.ejs') %>
<%- include('includes/header.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
  <main>
    <section class="about">
      <div class="main-content">
          <h1>Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images</h1>
          <h4>
          The <b>IMAGINE - AI</b>, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses
          OpenAI's Dall-E models to generate images.</h4>

         <h3>The <b>IMAGINE - AI</b> offers a solution to this problem by providing users with a powerful AI tool that can generate original and visually stunning images. With just a few prompts or keywords, the AI is able to generate a wide range of
          images that are unlike anything that has been seen before.</h3>
      </div>
      <!-- <a class="btn" href="#showcase"><span id="try-btn">Try it</span>
        <div class="flow"></div></a> -->
      <a class="try-it-cover" href="/generateImg">
        <button class="btn">
          <span id="try-btn">Try it</span>
          <div class="flow"></div>
        </button>
      </a>
      <div class="di">
        <h1>Some examples of images generated through DALL-E2</h1>
        <div id="wrapper">
            <div id="carousel">
              <div id="content">
                <div class="cardEx">
                  <img src="1.png" alt="">
                  <div class="info">
                    <h1>Horse</h1>
                    <p>Photograph of an astronaut riding a horse.</p>
                  </div>
                </div>
                <div class="cardEx">
                  <img src="2.png" alt="">
                  <div class="info">
                    <h1>Capybara</h1>
                    <p>An oil painting of a capybara wearing crown.</p>
                  </div>
                </div>
                <div class="cardEx">
                  <img src="3.png" alt="">
                  <div class="info">
                    <h1>Sports Car</h1>
                    <p>Synthwave sports car on a port road.</p>
                  </div>
                </div>
                <div class="cardEx">
                  <img src="4.png" alt="">
                  <div class="info">
                    <h1>Astronaut</h1>
                    <p>An astronaut lounging in a resort in space, vaporwave.</p>
                  </div>
                </div>
                <div class="cardEx">
                  <img src="5.jpeg" alt="">
                  <div class="info">
                    <h1>Amphibious car</h1>
                    <p>Amphibious car under water.</p>
                  </div>
                </div>
                <div class="cardEx">
                  <img src="6.jpeg" alt="">
                  <div class="info">
                    <h1>Cool Cat</h1>
                    <p>Potrait image of cat with sunglasses .</p>
                  </div>
                </div>
                <div class="cardEx">
                  <img src="7.jpeg" alt="">
                  <div class="info">
                    <h1>City on moon</h1>
                    <p>Beautiful city on moon with vehicles .</p>
                  </div>
                </div>
              </div>
            </div>
            <button id="prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
              </svg>
            </button>
            <button id="next">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('includes/footer.ejs') %>
<script>
  var loader = document.getElementById("bodyPRE");

window.addEventListener("load", function(){
    loader.style.display="none";
})
</script>
