<%- include('includes/PRE.ejs') %>
<%- include('includes/header.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
  <main>
    <section class="about">
      <h1>Unleashing the power of DALL-E 2 to generate stunning, one-of-a-kind images</h1>
      <div class="main-content-wrapper">
      <div class="main-content">
          <h4>
          The <b>IMAGINE - AI</b>, which is built using the OpenAI API library DALL-E 2, aims to solve the problem of limited creativity and imagination. This is a fully mobile responsive image generator built with Node.js and Express that uses
          OpenAI's Dall-E models to generate images.</h4>

         <h3>The <b>IMAGINE - AI</b> offers a solution to this problem by providing users with a powerful AI tool that can generate original and visually stunning images. With just a few prompts or keywords, the AI is able to generate a wide range of
          images that are unlike anything that has been seen before.</h3>
      </div>
      <img src="logo-no-background.png" class="home-logo" alt="">
    </div>
      <!-- <a class="btn" href="#showcase"><span id="try-btn">Try it</span>
        <div class="flow"></div></a> -->
      <a class="try-it-cover" href="/generateImg">
        <button class="btn">
          <span id="try-btn">Try it</span>
          <div class="flow"></div>
        </button>
      </a>
      <div class="di">
        <h1>Some examples of images generated through DALL-E2</h1>
        <div class="wrapper">
          <div class="cardEx float-in">
              <img src="1.png" alt="">
              <div class="info">
                  <h1>Horse</h1>
                  <p>Photograph of an astronaut riding a horse.</p>
              </div>
          </div>
          <div class="cardEx float-in">
              <img src="2.png" alt="">
              <div class="info">
                  <h1>Capybara</h1>
                  <p>An oil painting of a capybara wearing crown.</p>
              </div>
          </div>
          <div class="cardEx float-in">
              <img src="3.png" alt="">
              <div class="info">
                  <h1>Sports Car</h1>
                  <p>Synthwave sports car on a port road.</p>
              </div>
          </div>
          <div class="cardEx float-in">
              <img src="4.png" alt="">
              <div class="info">
                  <h1>Astronaut</h1>
                  <p>An astronaut lounging in a resort in space, vaporwave.</p>
              </div>
          </div>
        </div>
      </div>
    </section>
      <div class="hww">
        <h2 class="">How We Work ?</h2>
        <div class="hhwBody">
            <p><i style="font-weight: bold;">Imagine-AI</i> utilizing the <i style="font-weight: bold;">DALL·E 2 API</i> incorporates a fascinating process to generate images based on the prompt entered by the user. The API leverages <i style="font-weight: bold;">advanced deep learning techniques</i> and a vast dataset to create unique and imaginative visuals. When a user provides a prompt, the API interprets the text and generates corresponding image outputs. It utilizes a <i style="font-weight: bold;">neural network trained</i> on a vast range of images to understand the context and semantics of the input. The network then generates images that align with the user's prompt, employing a combination of pattern recognition and creative generation. By harnessing the power of <i style="font-weight: bold;">machine learning</i>, the DALL·E 2 API presents a novel approach to transforming text prompts into visually stunning and diverse images.</p>
        </div>
      </div>
  </main>

  <%- include('includes/footer.ejs') %>
<script>
  var loader = document.getElementById("bodyPRE");

window.addEventListener("load", function(){
    loader.style.display="none";
})
</script>