<%- include('includes/PRE.ejs') %>
<%- include('includes/header.ejs') %>
</head>
<%- include('includes/navbar.ejs') %>
<main>
    <section class="showcase" id="showcase">
        <form id="image-form">
          <h1 class="AI">IMAGE DESCRIPTION</h1>
          <div class="form-control">
            <input type="text" id="prompt" placeholder="Enter Text" />
          </div>

          <!-- Input User API -->

          <div class="get-api-text">
            <p>
              You can get your API key from:
              <a
                target="_blank"
                href="https://platform.openai.com/account/api-keys"
                >Open AI API key</a
              >
            </p>
          </div>

          <div class="form-control">
            <input
              id="api-key"
              type="text"
              id="api-key"
              placeholder="Enter your API key"
            />
          </div>
 <div class="form-control">
          <select name="size" id="size">
            <option value="small">Small</option>
            <option value="medium" selected>Medium</option>
            <option value="large">Large</option>
          </select>
        </div>
        <div class="formBtns">
          <button type="submit" class="btn">
            <span>Generate</span>
            <div class="flow"></div>
          </button>
          <button type="button" class="btn" id="surpriseMeBtn">
            <span>Surprise Me!</span>
            <div class="flow"></div>
          </button>
        </div>
      </form>
    </section>
    <section>
      <div class="popup-container" id="popup">
        <img src="./faviconicon/erroricon.png" alt="">
          <h2 id="text"></h2>
          <button class="popup-btn" onclick="closePopUp()"><span>OK</span></span>
          <div class="flow"></div>
          </button>
      </div>
  </section>
    <section class="image">
      <div class="image-container">
        <h2 class="msg"></h2>
        <img src="" alt="" id="image"/>
      </div>
    </section>


    <section class="faq"> 
      <div class="accordion">
            <h1>Frequently asked questions</h1>
        <div>
      
          <input type="radio" name="example_accordion" id="section1" class="accordion__input">
          <label for="section1" class="accordion__label">What is Imagine-AI?</label>
          <div class="accordion__content">
        
            
              Imagine-AI is powerful AI tool which resolves problem of limited creatibity and imagination by providing users to generate original and visually stunning images with just few prompts and keywords.

            </p>
          </div>
        </div>
        
        <div>
          <input type="radio" name="example_accordion" id="section2" class="accordion__input">
          <label for="section2" class="accordion__label">What is DALL-E 2 API ? </label>
          <div class="accordion__content">
        
            <p>
              DALL·E 2 is one of the artificial intelligence tools created by OpenAI. While DALL·E 2 has a web interface where you can generate images based on a prompt, it is an API that can be used to integrate DALL·E 2 tools into your own applications.

             
            </p>
          </div>
        </div>
        
        <div>
          <input type="radio" name="example_accordion" id="section3" class="accordion__input">
          <label for="section3" class="accordion__label">How to get your DALL-E 2 API key?</label>
          <div class="accordion__content">
           
            
              <p>Step 1. Go to the OpenAI website and sign up for an account: https://platform.openai.com/</p>

              <p> Step 2. After you have created an account, log in to your OpenAI account.</p>
                
               <p> Step 3. In the top right corner of the screen, click on your account name and select “API Keys” from the drop-down menu.</p>
               <p> Step 4. On the API Keys page, click the “Create new secret key” button. </p>
                <p> Step 5. The API key will be displayed on the screen. Make sure to copy the key and store it in a secure location, as it will not be shown again. You can also leave this page open for now.</p>

            
          </div>
          
        </div>
      </div>
    </section>
</main>
<div class="spinner"></div>

<%- include('includes/footer.ejs') %>
