<%- include('includes/PRE.ejs') %>
<%- include('includes/header.ejs') %>

<head>
	<style>
		.google-button {
		  background-color: #db4437;
		  color: white;
		  border: none;
		  padding: 10px 20px;
		  text-decoration: none;
		  font-size: 16px;
		  border-radius: 4px;
		  cursor: pointer;
		}
	  </style>
</head>
<%- include('includes/navbar.ejs') %>
<section class="showcase" id="showcase">
	<form id="image-form" action="index.html">
		<h1 class="AI">SIGN IN</h1>
		<div class="form-control">
			<input type="text" id="email" placeholder="Enter Email address" />
		</div>
		<div class="form-control">
			<input type="password" id="password" placeholder="Enter password" />
		</div>
		<div class="formBtns">
			<a href="/auth/google" class="google-button"
			  ><span class="fa fa-google"></span> SignIn with Google</a
			>
		  </div>
		<div class="formBtns">
			<button
				type="submit"
				class="btn sign-in-btn btn-login-submit"
				href="index.html"
			>
				<span>Submit</span>
				<div class="flow"></div>
			</button>
		</div>
		<div class="get-api-text">
			<p>No account? <a href="/signup">Signup</a></p>
		</div>
	</form>
	<div id="successToast" class="toast success-toast"></div>
	<div id="errorToast" class="toast error-toast"></div>
</section>
<%- include('includes/footer.ejs') %>
