<%- include('includes/PRE.ejs') %> <%- include('includes/header.ejs') %>

<head>
  <style>
    .google-icon {
      vertical-align: middle;
      fill: teal;
      display: inline-block;
      transition: all 0.3s ease-in-out;
    }
    .facebook-icon {
      vertical-align: middle;
      fill: teal;
      display: inline-block;
      transition: all 0.3s ease-in-out;
    }
    .google-icon:hover {
      fill: white;
    }
    .facebook-icon:hover {
      fill: #3b5998;
    }
  </style>
</head>
<%- include('includes/navbar.ejs') %>
<section class="showcase" id="showcase">
  <form id="image-form" action="index.html">
    <h1 class="AI">SIGN IN</h1>
    <div class="form-control">
      <input type="text" id="email" placeholder="Enter Email address" />
    </div>
    <div class="form-control">
      <input type="password" id="password" placeholder="Enter password" />
    </div>
    <div><h2>Or Sign in using</h2></div>

    <div class="signin-opt">
      <!-- signin using google -->
      <a href="/auth/google" class="google-button"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          height="2em"
          viewBox="0 0 488 512"
          class="google-icon"
        >
          <path
            d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
          /></svg
      ></a>

      <!-- signin using facebook -->
      <a href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="2em"
          viewBox="0 0 512 512"
          class="facebook-icon"
        >
          <path
            d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
          />
        </svg>
      </a>
    </div>
    <div class="formBtns">
      <button
        type="submit"
        class="btn sign-in-btn btn-login-submit"
        href="index.html"
      >
        <span>Submit</span>
        <div class="flow"></div>
      </button>
    </div>
    <div class="get-api-text">
      <p>No account? <a href="/signup">Signup</a></p>
    </div>
  </form>
  <div id="successToast" class="toast success-toast"></div>
  <div id="errorToast" class="toast error-toast"></div>
</section>
<%- include('includes/footer.ejs') %>
