<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link href="css/silder.css" rel="stylesheet">
    
    
 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">

</head>
<body>
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12">              
                <h2>Testimonial</h2>                 
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="swiper-container team-member-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="team-coverflow">
                             
                                    <div class="team-img">
                                        <img src="images/team8.jpg.png" alt="" data-no-retina>
                                        <div class="team-box-content">
                                            <ul class="team-social white-bg">
                                                <li><a href="javascript:void(0)">
                                                <i class="ti ti-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="ti ti-twitter-alt" aria-hidden="true"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="ti ti-google" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                  
                                <div class="team-text">
                                   <br>
                                    <h4 class="color-black font-weight-normal m-0 text-capitalize">Andrew Martin</h4><p class="color-light-grey font-weight-light designation text-capitalize"> CEO & Founder </p>
                                    <p class="color-light-grey font-weight-light review">Imagine AI has revolutionized our creative process. With its stunning DALL·E-generated images, our projects have taken on a whole new level of visual appeal. An essential tool for modern design.</p>
                                </div>
                                 
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team-coverflow">
                                <div class="team-data-img">
                                    <div class="team-img">
                                        <img src="images/team9.jpg.png" alt="" data-no-retina>
                                        <div class="team-box-content">
                                            <ul class="team-social white-bg">
                                                <li><a href="javascript:void(0)"><i class="ti ti-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="ti ti-twitter-alt" aria-hidden="true"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="ti ti-google" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-text">
                                   <br>
                                    <h4 class="color-black font-weight-normal m-0 text-capitalize">Lauren Swann</h4><p class="color-light-grey font-weight-light designation text-capitalize"> Senior Social Media Executive  </p>
                                    <p class="color-light-grey font-weight-light review">Imagine AI is a game-changer! As a marketer, I'm amazed at how effortlessly I can create unique and eye-catching visuals for our campaigns. This tool has definitely upped our content game.</p>
                                </div>
                                 
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team-coverflow">
                                <div class="team-data-img">
                                    <div class="team-img">
                                        <img src="images/team10.jpg.png" alt="" data-no-retina>
                                        <div class="team-box-content">
                                            <ul class="team-social white-bg">
                                                <li><a href="javascript:void(0)"><i class="ti ti-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="ti ti-twitter-alt" aria-hidden="true"></i></a></li>
                                                <li><a href="javascript:void(0)"><i class="ti ti-google" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="team-text">
                                   <br>
                                    <h4 class="color-black font-weight-normal m-0 text-capitalize">David Moores</h4><p class="color-light-grey font-weight-light designation text-capitalize">Recruit/HR Manager </p>
                                    <p class="color-light-grey font-weight-light review">Incredible AI-powered image generation! Imagine AI has given our branding a fresh perspective. The images are so striking that they've become the talk of our presentations. Highly recommended!</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next slider-arrows"><i class="ti ti-angle-right"></i> </div>
                    <div class="swiper-button-prev slider-arrows"><i class="ti ti-angle-left"></i> </div>
                </div>
            </div>
        </div>
    </div>
</section>






<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.1.6/js/swiper.min.js"></script>
<script src="js/slider.js"></script>
</body>
</html>