
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

:root {

 --primary-color: rgb(32, 32, 32);

}

body {
  font-family:'Montserrat', sans-serif;;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

/* Navbar */
.navbar {
  background: linear-gradient(-45deg, #7152ee, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}


}
.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 1rem;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.5rem;
}
.AI {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.navbar a:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
}

.showcase h1 {
    display: flex;
    font-size: 2.4rem;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    /* width: 100%; */
    text-align: center;

    line-height: 6px;
    outline: none;
    animation: animate 5s linear infinite;
    margin-bottom: 60px;
    padding-top: 60px;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1rem;
}
.form-control select{
  cursor: pointer;
}
.showcase form input,
form select {
  font-weight: 700;
  font-size: 15px;
  width: 500px;
  max-width: 500px;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: rgb(17, 17, 17);
  text-decoration: none;
  transition: transform 0.5s;
  cursor: text;
  border-radius: 60px;


}
.showcase form input,
form select:hover{
  background: #ffffff;
  transform: translateY(5px);
}
.get-api-text {
  color: white;
}

.get-api-text a {
  color: gray;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.get-api-text a:hover {
  color: cyan;
  transition: 0.3s ease-in-out;
}

.get-api-text {
  color: white;
}

button,.btn{
  outline: none;
  position:relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 60px;
  border: none;
  margin-top: 40px;
  text-align: center;
}
button span{
  position: relative;
  right:10px;
  z-index: 1;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 7px;
}
button .flow{
  position: absolute;
  left: 0;
  top:-80px;
  width: 250px;
  height: 200px;
  background: #e31153;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  transition: 0.5s;
}
button:hover .flow{
  top: -120px;
}
button .flow:before,
button .flow:after{
  content: '';
  position: absolute;
  width: 180%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%,-75%);
}
button .flow:before{
  border-radius: 45%;
  background: rgba(20,20,20,1);
  animation: swing 5s linear infinite;
}
button .flow:after{
  border-radius: 40%;
  background: rgba(20,20,20,0.5);
  animation: swing 10s linear infinite;
}
@keyframes swing{
  0%
  {
      transform: translate(-50%,-75%) rotate(0deg);
  }
  100%
  {
      transform: translate(-50%,-75%) rotate(360deg);
  }
}


/* About the Image */

.image {
  width: 100%;
  height: auto;

}

img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
}










.about{
  height: 94vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.about h1{
padding: 70px 20px;
font-size: 2.1rem;
color: white;
font-weight: bolder;

}
.about h4{
  font-size:1.2rem;
  padding:0 40px;
  letter-spacing: 1px;
  line-height: 30px;
}
.about h3{
  font-size:1.2rem;
  padding: 15px 40px;
  letter-spacing: 1px;
  line-height: 30px;
}
.btn{
  background-color: black;
  color:#fff;
  white-space: nowrap;
  
  font-size: 20px;
  font-weight: 600;
  /* padding: 17px 30px; */
  letter-spacing: 6px;
  
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  margin-top: 0px;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}


.btn .flow{
  position: absolute;
  left: 0;
  top:-80px;
  width: 250px;
  height: 200px;

  box-shadow: inset 0 0 50px rgba(0,0,0,0.5);
  transition: 0.5s;
}
.btn:hover{
  background-color:#7152ee;
}
#surpriseMeBtn{
  color: white;
}

footer{
  height: 15vh;
  width: 100%;
  color: white;
 
}
footer a {
  text-decoration: none;
  color: white;
}

.foot{

  margin-top: 35px;
  align-items: center;
  text-align: center;
}

.foot p{
  font-size: 10px;
}

.outericon{
  display: flex;
  justify-content: center;
}

.icons{
  display: flex;
  
}


.icons .icon{
  margin-top: 5px;
  padding: 2px 2px;
 
  height: 20px;
  width: 20px;
}


footer a {
  text-decoration: none;
  color: white;
}


.formBtns {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
}

/* Applying Media Queries for Mobile Responsivness */

@media screen and (max-width: 750px){

  .showcase h1{
    font-size: 32px;
    line-height: 50px;
  }

  .navbar a{
    font-size: 14px;
    line-height: 20px;
  }

  .navbar{
    font-size: 14px;
    line-height: 20px;
  }

  body {
    width: auto;
  }

  .showcase form input,
    form select{
      width: 300px;

  }

  img{
    width: 100%;
    height: auto;
  }
  .get-api-text p{
    font-size: 10px;
  }

  .about {
    height: auto !important;
    margin-bottom: 20px;
  }

  .about h1{
    font-size: 1.5rem;
  }
  .about h4,h3{
    font-size: 1rem;
  }

  .formBtns {
    display: flex;
    flex-direction: column;
  }

}
@media screen and (min-width: 360px){
  .about h4{
    font-size: 1rem;
  }
  .about h3{
    font-size: 1rem;
  }

}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%, -50%);
}

#try-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
